<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.boostcamp.mytwitter.mytwitter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.Camera2"/>

    <application
        android:name=".base.MyTwitterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_close_gray"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppThemeNoBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".timeline.TimelineActivity"
            android:theme="@style/AppThemeNoBar">
            <meta-data
                android:name=".searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <meta-data
            android:name=".searchable"
            android:resource="@xml/searchable"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ad035aaa3b78976e0a4299348324fd0da3fd953e"/>

        <activity
            android:name=".login.LoginAuthorityActivity"
            android:theme="@style/AppThemeNoBar">
        </activity>
        <activity
            android:name=".write.WriteActivity"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".detail.DetailActivity">
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/AppThemeNoBar">
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".searchresult.SearchResultActivity">
        </activity>
        <activity android:name=".scrap.ScrapActivity"
                  android:label="@string/scrap_title">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name=".base.db.TwitterContentProvider"
            android:authorities="com.boostcamp.mytwitter.mytwitter"
            android:exported="false"/>
        <receiver android:name=".receiver.ScheduleTweetReceiver"
                  android:enabled="true"
                  android:exported="false">
        </receiver>
        <receiver android:name=".receiver.TweetRebootReceiver"
                  android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.TweetService"
                 android:exported="false"/>
    </application>

</manifest>